
    <div id="wb-bnr" class="container">
        <div class="row">
            <div class="brand col-md-4 col-xs-5">
                <img src="{{{ wetboew }}}/assets/sig-blk-{{{ lang }}}.svg" alt="">
                <span class="wb-inv">{{# str }} governmentofcanada, theme_wettheme {{/ str }}</span>
            </div>
        </div>
    </div>

